body {
  font-family: 'Bruno Ace SC', cursive;
  background-color: #202020;
  color: #fff;
}


h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
}

#character-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2rem;
}

li {
  background-color: #333;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(248, 2, 2, 0.991);
  text-align: center;
  
}

li img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  
}

li h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

li p {
  margin: 0.5rem 0;
}


